a{

}
a:visited{

}
a:hover{

}
a:active{

}

.nav a {
  color: #5a5a5a;
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  text-decoration:none;
}

.nav li {
  display: inline;
  
}

.jumbotron {
  background-image:url("#");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #000;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #000;
}

.jazmine p {
  text-align: left;
}

.more a {
  text-decoration:none;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color:#efefef;
    border-bottom: 1px solid #dbdbdb;
}
.neighborhood-guides h2 {
    color:#393c3d;
    font-size:24px;
}
.neighborhood-guides p {
    font-size:15px;
    margin-bottom:13px;
  }
.secondrow {
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 100;

}
